$zero: 0px;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}

#main__box {
  background-color: red;
  border: 2px solid black;
  height: 100px;
  // width: 100px;
  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

#Board {
  border: 2px solid black;
}
