$zero: 0px;
* {
    margin: $zero;
    padding: $zero;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

html {
    background-image: linear-gradient(red, black, red);
}

.main {
    max-width: 300px;
    margin: 200px auto;
    border: 5px solid black;
    .main__top {
        padding: 10px;
        background-color: black;
    }
    .main__board {
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        display: grid;
        grid-template-columns: auto auto auto;
        overflow: hidden;
        .main__box {
            background-color: red;
            border: 2px solid black;
            height: 50px;
            width: 99px;
        }
        .main__box:hover {
            background-color: white;
            cursor: pointer;
        }
    }
    .main__bottom {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        .main__btn {
            padding: 5px 30px;
            background-color: transparent;
            border: 3px solid white;
        }
        .main__btn:hover {
            cursor: pointer;
            background-color: white;
            color: black;
        }
    }
}